@use "../../variables" as c;

.familyEstate {
  .container {
    .row {
      flex-direction: column;
      .top {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        .forAos {
          .title {
            margin-bottom: 10px;
            padding: 20px 0;
            font-size: 70px;
            font-weight: 400;
          }
          .text {
            padding: 20px 0;
            text-align: right;
            line-height: 1.8;
            font-size: 20px;
          }
        }
      }
      .bottom {
        padding: 0;
        margin: 0;
        position: relative;
        .imgContainer {
          width: 100%;
          img {
            padding: 20px 0;
            display: block;
            width: 100%;
            object-fit: contain;
            border-bottom: 1px solid c.$dark;
          }
        }
        .contact {
          margin-right: 20px;

          position: absolute;
          bottom: 30px;
          right: 20px;

          .forAos {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
            .desc {
              color: c.$pureWhite;
              line-height: 1.5;
              font-size: 20px;
            }
            .btn {
              font-size: 20px;
              color: c.$pureWhite;
              padding: 6px;
              border-bottom: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}
