@use "../../variables" as c;

.hero {
  height: 110vh;
  width: 100%;
  margin-bottom: 100px;
  .bgVideo {
    width: 100%;
    object-fit: contain;
  }
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .leftSide {
        display: flex;
        flex-direction: column;
        gap: 15px;
        transform: translateY(-170px);
        .title {
          color: c.$pureWhite;
          font-size: 28px;
        }
        .text {
          color: c.$pureWhite;
          font-size: 18px;
          line-height: 1.5;
        }
      }
      .rightSide {
        transform: translateY(-130px);
        .forAos {
          display: flex;
          gap: 30px;
          .btn {
            color: c.$pureWhite;
            padding: 10px 20px;
            border: 1px solid c.$pureWhite;
            border-radius: 24px;
            &:hover {
              background-color: c.$dark;
            }
          }
          .aboutBtn {
            background-color: c.$pureWhite;
            color: c.$dark;
            &:hover {
              background-color: c.$dark;
              color: c.$pureWhite;
            }
          }
        }
      }
    }
  }
}
