@use "../../variables" as c;

.hero {
  height: 110vh;
  width: 100%;
  padding-bottom: 100px;
  //   position: relative;
  .bgVideo {
    // position: absolute;
    // inset: 0;
    width: 100%;
    object-fit: contain;
  }
  .container {
    .row {
      justify-content: space-between;
      align-items: center;
      .rightSide {
        display: flex;
        flex-direction: column;
        gap: 15px;
        transform: translateY(-150px);
        .title {
          color: c.$pureWhite;
          font-size: 28px;
        }
        .text {
          color: c.$pureWhite;
          font-size: 18px;
          line-height: 1.5;
        }
      }
      .leftSide {
        display: flex;
        gap: 30px;
        transform: translateY(-100px);
        .btn {
          color: c.$pureWhite;
          padding: 10px 20px;
          border: 1px solid c.$pureWhite;
          border-radius: 24px;
          &:hover {
            background-color: c.$dark;
          }
        }
        .aboutBtn {
          background-color: c.$pureWhite;
          color: c.$dark;
          &:hover {
            background-color: c.$dark;
            color: c.$pureWhite;
          }
        }
      }
    }
  }
}
