@use "../../variables" as c;

.product {
  padding: 20px 0;

  .container {
    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .productsContent {
        position: relative;
        width: calc(50% - 15px);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        height: 600px;
        .info {
          position: absolute;
          bottom: 30px;
          left: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
          .title {
            font-size: 36px;
            color: c.$pureWhite;
            font-weight: 400;
          }
          .text {
            color: c.$pureWhite;
            font-size: 19px;
          }
          .productBtn {
            display: inline-block;
            font-size: 20px;
            color: c.$pureWhite;
            padding: 6px;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}
