@use "../../variables" as c;

.products {
  padding: 60px 0;
  .container {
    .row {
      flex-direction: column;
      .title {
        font-size: 32px;
        font-weight: 400;
        color: c.$dark;
        margin-bottom: 50px;
      }

      .porduct {
        width: 100%;
        .product-swiper {
          .product-card {
            background-color: transparent;
            text-align: left;
            padding: 0 10px;

            .productImage {
              width: 100%;
              height: auto;
              object-fit: contain;
              border-radius: 0;
              margin-bottom: 10px;
            }

            .title {
              font-size: 18px;
              font-weight: 500;
              color: #333;
              margin-bottom: 4px;
            }

            .detail {
              font-size: 14px;
              color: #666;
              margin-bottom: 8px;
              height: auto;
              overflow: visible;
            }

            .price {
              display: block;
              font-weight: 600;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}
