@use "../../variables" as c;

.wineClub {
  padding: 10px 0 30px;
  .container {
    .row {
      .bgImage {
        width: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        height: 700px;
        .feedBack {
          position: absolute;
          top: 40px;
          left: 40px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .title {
            color: c.$pureWhite;
            font-size: 20px;
            font-weight: 400;
          }
          .text {
            color: c.$pureWhite;
            font-size: 18px;
            font-weight: 200;
            line-height: 1.5;
          }
        }
        .bottom {
          position: absolute;
          bottom: 30px;
          right: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 30px;
          .joinClan {
            color: c.$pureWhite;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 200;
          }
          .joinBtn {
            display: inline-block;
            font-size: 20px;
            color: c.$pureWhite;
            padding: 6px;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}
