@use "./base";
@use "./variables";
// ----- components------
@use "./components/header";
@use "./components/footer";

//-------pages---------
//home
@use "./pages/Home/hero";
@use "./pages/Home/familyestate";
@use "./pages/Home/shopNow";
@use "./pages/Home/products";
@use "./pages/Home/wineclub";
@use "./pages/Home/restaurant";
