.shop {
  border: 1px solid;
  .bgVideo {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }
  .container {
    .row {
      flex-direction: column;
      .title {
        padding: 20px 0;
        font-size: 44px;
        font-weight: 200;
      }
      .products {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .productCard {
          width: calc(25% - 30px);
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          padding: 10px;
          cursor: pointer;

          .productImage img {
            width: 100%;
            border-radius: 10px;
          }

          .detail {
            margin: 10px 0;
            font-size: 14px;
            color: #333;
          }

          .price {
            font-weight: bold;
            color: #000;
          }
        }
      }
    }
  }
}
